body
{
    
    background-color:cadetblue;
}
.topDiv {
    display: flex;
    height:20%x;
}
.timeDiv {
   
    width:20%;
    border-style: solid;
    border-color: black;
    float:left;
    height:100px;
}
#h3head {
    border-bottom-style:solid;

}
#info {
    
}

.weatherDiv {
   
    width: 30%;
    border-style: solid;
    border-color: black;
    height:200px;
  
  
}
#weatherHeader {
    border-bottom-style: solid;

}
#weatherImageDiv {
    margin-top:0px;
    width: 100%;

}
#weatherImage {
}


.employeeDiv {
    width: 60%;
    border-style: solid;
    border-color: black;
    height: 250px;
}

#employeeHeader {
    border-bottom-style: solid;
    
}






.secondDiv {
   
    display: flex;
    width:100%;
    height:20%;
    

}
.nasaDiv {
    margin-top: 100px;
    width: 100%;
    border-style: solid;
    border-color: black;
    height:100%
}
#nasaHeader {
    border-bottom-style: solid;
    color: white;
}


#nasaContent{
    color:white;
}

.thirdDiv {
    margin-top: 152px;
    display: flex;
    width: 100%;
    height: 60%;
}


.departureTable {
    width: 100%;
    border-style: solid;
    border-color: black;
    height: 75%;
}
#departureHeader {
    border-bottom-style: solid;
}